@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root{
    --background-color: #0c0c0d;
    --black-2:#141415;
    --primary-color:#9914c1;
    --primary-color2:#5825c1;
    --font-color: #f5f5ff;
    --font-color2: #e58fff;
    --font-color3: #847dd3;
    --font-color4: #ded0eb;
    --font-color5: #ded0eb89;

    --primary-font: Sora;

}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));

    border-radius: 50px;
}
::-webkit-scrollbar-track{
  background-color: transparent;
    width: 5px;
}
::selection{
    background-color: var(--font-color2);
    color: var(--background-color);
}
*{
    box-sizing: border-box;
    transition: none;
    margin: 0;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: var(--primary-font);
    list-style-type: none;
    color: var(--font-color);
    transition: .3s ease-in-out;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--background-color);
    color: var(--font-color);
    height: 100vh;
  
}
.header{
    width: 100%;
    
  
    background-image: url("assets/bg-header-01.png"), linear-gradient(to bottom, #00000057,#00000060,#0c0c0d);
    background-size: cover;
    background-repeat: no-repeat;
    
    background-blend-mode:overlay;  
    
}
.header-logo{
    width: 200px;
   

}

.header-logo img{
    width: 40%;
    animation: logoanimation 3s ease-in-out infinite;
}
@keyframes logoanimation {
    0%{
      transform: translateY(2px);
    }
    50%{
      transform: translateY(-4px) ;
    }
    100%{
      transform: translateY(2px) ;
    }
  }
.navbar{
    position: sticky;
   
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    padding-bottom: 0;
    gap: 4%;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    z-index: 999;
}
.nav-items ul{
    display: flex;
    gap: 5px;
    align-items: center;
    
    
}
.nav-items ul li{
    width: max-content;
    
}
.nav-items li a{
    font-size: 15px;
    padding: 10px 15px;
    
    display: flex;
    color: var(--font-color);
   

}


.border-gradientnav {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
  }
  .only-topnav {
    border-right: 0;
   border-top: 0;
    border-left: 0;
    border-bottom: 0;
  }
  .border-gradient-greennav {
    border-image-source: linear-gradient(to right, var(--font-color2), var(--font-color));
  }




.nav-items li a:hover{
    font-weight: 600;
    color: transparent;
    
    
    
    background-clip: text;
    background-image: linear-gradient(to right,var(--font-color2), var(--font-color));
    /* border-bottom: 1px solid var(--font-color);s */
    transition: .2s ease-in-out;
    
}
.nav-items li a:focus{
    border-bottom: 1px solid var(--font-color2);
    color: transparent;
    font-weight: 600;
    background-clip: text;
    background-image: linear-gradient(to right,var(--font-color2), var(--font-color));
    

}
#li-home{
    border-bottom: 1px solid var(--font-color2);
    color: transparent;
    font-weight: 700;
    background-clip: text;
    background-image: linear-gradient(to right,var(--font-color2), var(--font-color));
}
.hire-btn{
  
    width: 200px;
    display: flex;
    justify-content: center;
}
.hire-btn button{
    color: var(--background-color);
    border: none;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid var(--font-color);

}
.hire-btn button:hover{
    padding: 12px 30px;
   
}


/* banner  */

.banner{
    
    padding: 100px 18%;
    display: flex;
    gap: 30%;

}
.banner-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 35px;
    
}
.banner-left h3{
    animation: banner-left-anim .5s ease-in-out;

}
.banner-left h1{
    animation: banner-left-anim .6s ease-in-out;

}
.banner-left p{
    animation: banner-left-anim .7s ease-in-out;

}
.banner-left a{
    animation: banner-left-anim .8s ease-in-out;

}
@keyframes banner-left-anim {
    0%{
        transform: translateX(-800px) scale(.2);
        opacity: 0%;
    }
    100%{
        transform: translateX(0px) scale(1);
        opacity: 100%;
    }
}
.banner-left h3{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: -10px;
   
}
.banner-left h1{
    font-size: 45px;
    font-weight: 600;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color),var(--font-color));
}
.banner-left h1 span{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
}
.banner-left p{
    font-size: 13px;
    color: var(--font-color4);
}
.download-btn{
    font-size: 15px;
    font-weight: 500;
    color: var(--font-color2);
    border: 1px solid var(--font-color2);
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
     align-items: center;
     gap: 10px;
     margin-top: 50px;
     
}
.download-btn:hover{
    border: 1px solid var(--font-color);
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    color: var(--background-color);
  
}
.download-btn:hover i{
    color: var(--background-color);
}
.download-btn i{
    color: var(--font-color2);
    font-weight: 400;
}


.circle-one{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px dashed var(--font-color5);
    animation: solar1 60s linear infinite;
    
}
@keyframes solar1 {
    0%{
        transform: rotate(0deg);
        border-color: var(--font-color5)
    }
    50%{
        border-color: var(--font-color2)

    }
    100%{
        transform: rotate(360deg);
        border-color: var(--font-color5)


    }
}
.cl1{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--font-color5);
    position: absolute;
   top: 0;
   left: 95px;
   border: 1px solid var(--font-color2);
   display: flex;
   align-items: center;
   justify-content: center;
}
.cl2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
   background-color: var(--font-color5);
    position: absolute;
   bottom: 0;
   left: 95px;
   border: 1px solid var(--font-color2);
   display: flex;
   align-items: center;
   justify-content: center;
}
.cl3{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--font-color5);
    position: absolute;
   bottom: 95px;
   right: 0;
   border: 1px solid var(--font-color2);
   display: flex;
   align-items: center;
   justify-content: center;
}
.cl2 img, .cl3 img{
    width: 60%;
}
.cl1 img{
    width: 80%;
}
.circle-two{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px dashed var(--font-color5);
    animation: solar2 40s linear infinite;
    border-radius: 50%;
}
@keyframes solar2 {
    0%{
        transform: rotate(0deg);
        border-color: var(--font-color5)
   
        
    }
    50%{
        border-color: var(--font-color2)

    }
    100%{
        transform: rotate(-360deg);
        border-color: var(--font-color5)

       
    }
}
.cl4{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--font-color5);
    position: absolute;
   bottom: 65px;
   right: 0;
   border: 1px solid var(--font-color2);
   display: flex;
   align-items: center;
   justify-content: center;
}
.cl5{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--font-color5);
    position: absolute;
   bottom: 65px;
   left: 0;
   border: 1px solid var(--font-color2);
   display: flex;
   align-items: center;
   justify-content: center;
}
.cl6{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--font-color5);
    position: absolute;
   top: -18px;
   left: 80;
   border: 1px solid var(--font-color2);
   display: flex;
   align-items: center;
   justify-content: center;
}
.cl4 img, .cl5 img, .cl6 img{
    width: 60%;
     border-radius: 4px;
}
.circle-three{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px dashed var(--font-color5);
    animation: solar3 40s linear infinite;
    border-radius: 50%;
}
.cl7{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--font-color5);
    position: absolute;
   top: -18px;
   left: 80;
   border: 1px solid var(--font-color2);
   display: flex;
   align-items: center;
   justify-content: center;
}
.cl7 img{
    width: 60%;
}
@keyframes solar3 {
    0%{
        transform: rotate(0deg);
        border-color: var(--font-color5)

        
    }
    50%{
        border-color: var(--font-color2)

    }
    100%{
        transform: rotate(360deg);
        border-color: var(--font-color5)

       
    }
}
.user-img{
    width: 413px;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(1.1);
   margin-left: -6px;
    z-index: 100;
    animation: solarimg 30s linear infinite;

}
@keyframes solarim {
    0%{
        transform: rotate(0deg);
       
        
        
    }
    100%{
        transform: rotate(-360deg);
       
    }
}
.banner-right{
  
    position: relative;
    width: max-content;
    animation: circleOne-anim 3s ease-in-out;
   
}

   

@keyframes circleOne-anim {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}



.cl1, .cl5{
    animation: animcl1 5s linear infinite;
}
@keyframes animcl1 {
    0%{
        transform: rotate(-90deg);
    

    }
    50%{
        transform: rotate(90deg);
    

    }
    
    100%{
        transform: rotate(-90deg);
   

    }
}
.cl2, .cl4, .cl7{
    animation: animcl2 5s linear infinite;
}
@keyframes animcl2 {
    0%{
        transform: scale(.8);
        
    }
    50%{
        transform:scale(1.2);
    box-shadow: 0px 1px 12px 1px var(--font-color2);

    }
    
    100%{
        transform: scale(.8);
    }
}
.cl3, .cl6{
    animation: animcl3 5s linear infinite;
}
@keyframes animcl3 {
    0%{
        transform:rotate(0deg);
    box-shadow: 0px 1px 10px 1px var(--primary-color);

    }
    50%{
    box-shadow: 0px 1px 10px 1px var(--primary-color2);

    }
    
    100%{
        transform:rotate(360deg);
    box-shadow: 0px 1px 10px 1px var(--primary-color);

    }
}
.header-logo{
    animation: logo-anim 3s ;
}


/* about */
.about-container{
    
    padding: 80px 22%;
    display: flex;
    gap: 15%;
    
    overflow: hidden;

}
.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
  }
  .border-gradient-green {
    border-image-source: linear-gradient(to right bottom, var(--primary-color),var(--primary-color), var(--font-color3));
  }
  .only-top {
    border-left: 0;
   
    border-top: 0;
  }
.user-img-frame{
    
    width: 220px;
    height: 250px;
    position: relative;
 
    
}
.frame2{
   position: relative;
   
    
}
.border-gradient2 {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
  }
  .only-top2 {
    border-right: 0;
   
    border-bottom: 0;
  }
  .border-gradient-green2 {
    border-image-source: linear-gradient(to right bottom, var(--font-color3), var(--primary-color),var(--primary-color));
  }
  .user-frame-img{
    width: 112%;
    position: relative;
    margin-top: 0px;
    margin-left: 7px;
    z-index: 100;
    
  }
  .black-span{
    width: 40px;
    height: 40px;
    background: var(--background-color);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
  }
  .black-span2{
    width: 60px;
    height: 40px;
    background: var(--background-color);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    margin-left: -39px;
    z-index: 10;
  }
  .agin-span{
    width: 5px;
    height: 15px;
    background: var(--background-color);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -10px;
    margin-right: 2px;
    
  }






  .circle{
    position: absolute;
    width: 9vh;
    height: 9vh;
    background: linear-gradient(to right, var(--primary-color2), var(--primary-color));
    border-radius: 50%;
    animation: animate 3s linear infinite;
   top: 145px;
   left: 80px;
   z-index: 50;
   background-color: var(--font-color);
}
@keyframes animate {
    0%{
        transform:scale(.8);
    }
    25%{
        transform: scale(1);
    }
    50%{
        transform:  scale(1.2);
    }
    75%{
        transform:  scale(1);
    }
    
    100%{
        transform: scale(.8);
    }
}
.circle::after{
    content: '';
    position: absolute;
    top: 35px;
    right: 35px;
    bottom: 35px;
    left: 35px;
    border-radius: 50%;
    filter: blur(140px);
}
.circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(var(--font-color2), var(--primary-color), var(--primary-color2), var(--primary-color));
    
}
.circle span:nth-child(1){
    filter: blur(50px);
}
.circle span:nth-child(2){
    filter: blur(100px);
}
.circle span:nth-child(3){
    filter: blur(10px);
}
.circle span:nth-child(4){
    filter: blur(55px);
}



.about-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
   
}
.about-left{
    display: flex;
    align-items: center;
    animation: about-left-anim 1s ease-in-out;
}
@keyframes about-left-anim {
    0%{
        transform: translateY(900px);
    }
    100%{
        transform: translateY(0px);
    }
}
.about-right h1{
    font-size: 30px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 600;
}
.about-right p, .about-right ul li{
    font-size: 13px;
    color: var(--font-color4);
    list-style-type: disc;
    line-height: 20px;


}
.about-right ul{
    line-height: 20px;
    margin-left: 20px;
}
.see-more-about{
    margin-top: 40px;
  
}

.about-right h1{
    animation: about-h1-anim 1.3s ease-in-out;
}
.about-right .para1{
    animation: about-h1-anim 1.4s ease-in-out;
}
.about-right ul{
    animation: about-h1-anim 1.5s ease-in-out;
}
.about-right .para2{
    animation: about-h1-anim 1.6s ease-in-out;
}
.see-more-about{
    animation: about-h1-anim 1.7s ease-in-out;
}
@keyframes about-h1-anim {
    0%{
        transform: translateY(900px);
    }
    100%{
        transform: translateY(0px);
    }
}

.education, .skills, .services, .my-plans, .blog, .subscribe, .testimonials, .contact, .footer-sec{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
    padding: 40px 18%;
}
.education h1, .skills h1, .services h1, .my-plans .plans-title, .blog-title, .testi-title, .contact-title{
    font-size: 30px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 600;
}
.education-cart{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
   
}
#edu-date{
    border-radius: 8px;
   cursor:not-allowed;
}

/* desc-style */

.shared-desc-style{
    font-size: 13px;
    color: var(--font-color4);
}


.education-cart h3{
    font-size: 16px;
    font-weight: 500;
}

.education-grid, .skills-con{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
    row-gap: 30px;
}

.skills-cart{
    background: #020103de;
    background-image: url("assets/cart-color.png");
    background-size: cover;
    background-blend-mode:saturation;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
  border-radius: 5px;


    
   
}
.skills-cart h3{
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    color: var(--font-color4);
}
.progress-con{
    width: 460px;
    height: 8px;
    border-radius: 100px;
    overflow: hidden;
    background-color: var(--font-color);
}
.progress-value{
    width: 90%;
    height: 100%;
    border-radius: 100px;
    margin-left: -10px;
    background: linear-gradient(to right bottom, var(--primary-color), var(--primary-color), var(--font-color2));
    
   
}




.cssv{
    width: 96%;
}
.tailv{
    width: 110%;
}
.javav{
    width: 99%;
}
.monv{
    width: 70%;
}
.myv{
    width: 65%;
}
.skills-con{
    column-gap: 55px;
    row-gap: 55px;
}
.skills{
    margin-top: 50px;
}
.skills h1{
    padding-bottom: 30px;
}
.skills-cart:hover{
    cursor: pointer;
    transition: .2s ease-in-out;
    animation: cart-hover-anim .7s ease-in-out infinite;
}
@keyframes cart-hover-anim {
     0%{
    transform: scale(1);

     }
     50%{
        transform: scale(1.03);
     }
     100%{
    transform: scale(1);

     }
}

.service-cart{
    width: 300px;
    height: 300px;
    background-size: cover;
    background-image: url("assets/hexa-shape-02.png");
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.service-cart:hover{
    cursor: pointer;
    animation: cart-hover-anim .7s ease-in-out infinite;

}
.mobile-app-cart{
    background-image: url("assets/hexa-shape-01.png");
}
.logo-cart-service{
    background-image: url("assets/logo-01.png");
    
    animation: service-logo-anim 2s ease-in-out infinite;
    
}
@keyframes service-logo-anim {
    0%{
        filter: saturate(0);
        transform: scale(.7);
        opacity: 10%;
    }
    50%{
        filter: saturate(1);
        transform: scale(.7);
        opacity: 100%;

        
    }
    100%{
        filter: saturate(0);
        transform: scale(.7);
        opacity: 10%;

        
    }
}
.logo-cart-service:hover{
    animation: cartlogo-hover-anim .7s ease-in-out infinite;

}
@keyframes cartlogo-hover-anim {
    0%{
   transform: scale(.7) translateY(0px);

    }
    50%{
       transform: scale(.7)translateY(0px);
    }
    100%{
   transform: scale(.7)translateY(0px);

    }
}
.service-cart img{
    width: 30%;

}
.service-cart a{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: var(--font-color4);
}
.servicelineOne{
    display: flex;
  
}
.servicelineTwo{
    display: flex;
    margin-top: -40px;
}
.servicelineThree{
    display: flex;
    margin-top: -40px;

}
.services-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.services h1{
    margin-bottom: 30px;
    margin-top: 30px;
}
.yearly-switch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.yearly-p{
    font-size: 13px;
    color: var(--font-color4);
    font-weight: 400;
}
.YM-switch{
    height: 38px;
    width: 200px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black-2);
    margin-top: 50px;
    
}
.YM-switch a{
    height: 100%;
    width: 50%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
    
  
}
#Monthly-sw{
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    color: var(--background-color);
    font-weight: 600;
    border: 1px solid var(--font-color);

}

.price-container{
    width: 100%;
    height: 400px;
    background-color: var(--black-2);
    border-radius: 20px;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}
.price-container {
    position: relative;
  }
  .price-container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px; 
    padding: 1px; 
    z-index: 2;
    background:linear-gradient(45deg,var(--primary-color2),var(--primary-color)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
.price-value{
    font-size: 25px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 8px;
}
.price-value span{
    color: var(--primary-color);
    font-size: 13px;
    font-weight: 600;
}
.price-quality{
    font-size: 18px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 700;
    margin-bottom: 5px;
}
.price-p{
    font-size: 11px;
    color: var(--font-color4);
    font-weight: 400;
    margin-bottom: 7px;
  
}
.price-cart ul li{
    font-size: 11px;
    color: var(--font-color4);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}
.price-cart li i{
    color: var(--font-color2);
    font-weight: 800;
    font-size: 12px;
}
.price-cart ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
}
.price-cart{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    cursor:default;
     border-radius: 20px;
     padding: 25px;
     position: relative;
     z-index: 100;
    
     
}

.price-cart:hover{
    transform: translateY(-50px);
    background: linear-gradient(to right bottom, var(--primary-color2), var(--primary-color));
    padding: 40px 25px;
}
.price-cart:hover .price-value{
    color: var(--font-color);
} 
.price-cart:hover .price-value span{
    color: var(--font-color);
} 
.price-cart:hover .most-p-btn{
    top: 20px;
} 

.price-cart:focus{
    background: #000;
}
.pick-btn{
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    padding: 10px 30px;
    border-radius: 50px;
    width: max-content;
    color: var(--background-color);
    font-size: 13px;
    font-weight: 600;
    margin: 5px auto;
    
    
}
.pick-btn:hover{
    padding: 10px 35px;
}
.most-p-btn{
    position: absolute;
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    color: var(--background-color);
    border-radius: 50px;
    padding: 7px 10px;
    font-size: 10px;
    font-weight: 600;
    top: 10px;
    border: 1px solid var(--font-color);
    
    right: 30px;
}
.blog{
    gap: 50px;
}
.blog-container{
    width: 100%;
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.blog-cart{
    width: calc(33% - 10px);
   cursor: default;
    position: relative;
    z-index: 100;
    border-radius: 20px;
    
}
.blog-cart {
    position: relative;
  }
  .blog-cart::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px; 
    padding: 1px; 
    z-index: 2;
    background:linear-gradient(4deg,var(--primary-color2),var(--primary-color)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
.blog-cart:hover{
    transform: translateY(-20px);
    background: linear-gradient(to right bottom, var(--primary-color2), var(--primary-color));
   
}
.blog-cart .tag-ul, .blog-cart .details-btn{
    position: relative;
    z-index: 100;
}

 .blog-cart:hover .blog-date h3, 
 .blog-cart:hover .blog-user-sec h1,
 .blog-cart:hover .tag-ul li a{
    color: var(--font-color4);
    
}
.blog-cart:hover .blog-user-sec h1{
    color: var(--font-color);
}
.blog-cart:hover .blog-cart-title{
    font-weight: 700;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
}
.blog-cart:hover .tag-ul li a{
    border: 1px solid var(--font-color);
}
.blog-cart img{
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.blog-cart-title{
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    padding: 15px 15px;
    margin-top: 10px;
}
.blog-p{
    font-size: 11px;
    color: var(--font-color4);
    font-weight: 400;
    margin-bottom: 7px;
    padding: 10px 15px;

}
.blog-date{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;

}
.blog-date h2{
    font-size: 11px;
    color: var(--font-color4);
    font-weight: 400;
    margin-bottom: 7px;
}
.blog-date h3{
    font-size: 11px;
    color: var(--font-color3);
    font-weight: 400;
    margin-bottom: 7px;
    text-align: right;
}

.blog-user-sec{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 15px;

}

.blog-img-box{
    width: 55px;
    height: 55px;
    background-color: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}
.blog-user-sec h1{
    font-size: 18px;
    font-weight: 500;
    color: var(--font-color3);
    line-height: 20px;
}
.blog-user-sec h1 span{
    font-size: 11px;
    color: var(--font-color4);
    font-weight: 400;
    margin-bottom: 7px;
    text-align: right;
}
.blog-user-sec img{
    border: none;
    margin-left: 2px;
}
.tag{
    font-size: 12px;
    color: var(--font-color4);
    font-weight: 400;
   
    padding: 15px 15px;

}
.tag-ul{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 5px 15px;

}
.tag-ul li a{
    border: 1px solid var(--primary-color2);
    font-size: 11px;
    color: var(--primary-color2);
    border-radius: 50px;
    padding: 5px 8px;
    font-weight: 500;
}
#more-tag, #more-tag2, #more-tag3{
    border: none;
    
}
#more-tag:hover,
#more-tag2:hover,
#more-tag3:hover{
    color: var(--background-color);
}
#ok:hover,
#ok2:hover,
#ok3:hover,
#ok4:hover,
#ok5:hover,
#ok6:hover,
#ok7:hover,
#ok8:hover,
#ok9:hover,
#ok10:hover,
#ok11:hover
{
    color: var(--background-color);
}
.tag-ul li a:hover{
    border: 1px solid var(--font-color);
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    color: var(--background-color);
}
.details-btn{
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    padding: 12px 90px;
    border-radius: 50px;
    
    color: var(--background-color);
    font-size: 13px;
    font-weight: 600;
    
}
.details-btn:hover{
    padding: 12px 100px;
}
.details-btn-con{
    margin-bottom: 10px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
}
.blog-star{
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 17px;
    color: var(--font-color2);
}

.blog-foot-ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.blog-foot-ul li{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--font-color)
}
.blog-foot-ul li:first-child{
    background: var(--primary-color2);
    border-radius: 50px;
    padding: 0px 25px;
}

.sub-cart{

    background-clip: padding-box;
    background: var(--black-2);
    padding: 35px 100px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.sub-cart {
    position: relative;
  }
  .sub-cart::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px; 
    padding: 1px; 
    z-index: 2;
    background:linear-gradient(45deg,var(--primary-color2),var(--primary-color)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }


/* jjjjjj */


/* jjjjj */



.subs-title{
    font-size: 25px;
    font-weight: 500;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, var(--font-color2), var(--font-color));
}
.sub-cart a{
    font-size: 15px;
    margin-top: 20px;
    border: 1px solid var(--black-2);
  
    position: relative;
    z-index: 100;
    
}
.sub-cart a:hover{
    border: 1px solid var(--font-color);
    position: relative;
    z-index: 100;
}
.testi-cart-bg{
    width: calc(100% - 5px);
    margin-top: 10px;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color2), var(--font-color2));
    border-radius: 10px;
}

.testi-img-box{
    width: 100px;
    height: 100px;
    background: var(--font-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.tesi-user-img{
    width: 100%;
    margin-top: 10px;
    filter: saturate(.5);
    
}
.testi-border{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    /* border-bottom: 7px solid var(--font-color2);
    border-left: 7px solid var(--font-color2);
    border-top: 7px solid var(--font-color2); */
    border: 7px solid var(--font-color2);
    border-bottom-color: transparent;
    transform: rotate(-80deg);
    
}
.testi-cart{
    width: 100%;
    height: 100%;
    background-color: var(--black-2);
    border-radius: 10px;
    border: 1px solid #35343477;
    position: relative;
    top: -5px;
    left: -5px;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.testi-user-name{
    font-size: 15px;
    font-weight: 500;
    color: var(--font-color2);
    padding-top: 5px;
    padding-bottom: 1px;
}

.testi-user-location, .testi-rating{
    font-size: 11px;
    color: var(--font-color4);
    font-weight: 400;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.testi-user-location i{
    margin-top: 2px;
}
.testi-rating i{
    color: rgb(255, 187, 0);
    margin-top: 1px;
    
}
.testi-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.testi-right{
    width: 80%;
    display: flex;
    align-items: start;
    gap: 10px;
   
}
.testi-right i{
    font-size: 25px;
    color: var(--font-color2);
    margin-top: -5px;
}
.testi-comment{
    font-size: 15px;
    color: var(--font-color4);
    font-weight: 400;
    line-height: 22px;
}
.testimonials{
    gap: 50px;
}



.contact{
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.contact-left{
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 45%;
}
.contact-p{
    font-size: 14px;
    color: var(--font-color4);
    font-weight: 400;
    margin-top: 5px;
}
.contact-ul li a{
    font-size: 14px;
    color: var(--font-color4);
    font-weight: 400;
}
.contact-ul li i{
    color: var(--font-color4);
    font-size: 15px;
    width: 20px;
    margin-top: 2px;
}
.contact-ul li{
    display: flex;
    align-items: center;
    gap: 8px;
    
}
.contact-ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-map-title{
    font-size: 17px;
    color: var(--font-color2);
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 5px;
}
.map{
    border-radius: 15px;
    filter: grayscale(1);
    width: 100%;
    height: 100%;
}

.map-con{
    
    border-radius: 15px;
    height: 220px;
    width: 400px;
}
.map-con {
    position: relative;
  }
  .map-con::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px; 
    padding: 1px; 
    z-index: 2;
    background:linear-gradient(4deg,var(--primary-color2),var(--font-color2)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
.form-title{
    font-size: 30px;
    font-weight: 600;
    color: var(--font-color2)
}
.contact-right{
    background-color: #9914c115;
    width: 46%;
    padding: 60px 80px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
 }
 .contact-right {
    position: relative;
  }
  .contact-right::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px; 
    padding: 1px; 
    z-index: 2;
    background:linear-gradient(45deg,var(--primary-color2),var(--primary-color)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
 form label{
    font-size: 15px;
    font-weight: 400;
    color: var(--font-color4);
    margin-left: 5px;
    
 }
 form input{
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 1px solid var(--font-color5);
    border-radius: 50px;
    text-indent: 20px;
    margin-top: 7px;
    font-size: 14px;
    position: relative;
    z-index: 100;
    color: var(--font-color2);
    
 }
 form input::placeholder{
    font-size: 14px;
   
 }
 #submit-form-btn{
    border: 1px solid var(--font-color);
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    color: var(--background-color);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    width: max-content;
    padding: 0px 140px;
    margin: 0 auto;
    display: flex;
    text-indent: 0;
    margin-top: 30px;
 }
 #submit-form-btn:hover{
    padding: 0px 170px;
 }


 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer-logo{
    width: 70px;
    height: 70px;
 
    display: flex;
}
.footer-logo img{
    width: 100%;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}
.footer-left-p{
    line-height: 19px;
}
.footer-sec{
    flex-direction: row;
    width: 100%;
    background: rgba(255, 255, 0, 0.034);
    align-items: start;
    justify-content: space-between
}
.footer-nav-title{
    font-size: 18px;
    color: var(--font-color2);
    font-weight: 500;
}
.footer-nav-ul-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.foot-nav-left{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.foot-nav-left li a{
    font-size: 14px;
    font-weight: 300;
    transition: .2s ease-in-out;
}
.footer-middle{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    width: 20%;
    
}
.foot-nav-left li a:hover{
    color: var(--font-color2);
    background-clip: text;
   
    
}
.footer-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 25%;
   
}

.footer-right-title{
    font-size: 20px;
    color: var(--font-color2);
    font-weight: 500;
}
.foot-email-box{
    width: 100%;
    height: 50px;
    background: var(--font-color4);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
#foot-email{
    border: none;
    width: 80%;
    height: 100%;
    margin: 0;
    border-radius: 10px;
}
.foot-send{
    width: 20%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}