@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root{
    --background-color: #0c0c0d;
    --black-2:#141415;
    --primary-color:#9914c1;
    --primary-color2:#5825c1;
    --font-color: #f5f5ff;
    --font-color2: #e58fff;
    --font-color3: #847dd3;
    --font-color4: #ded0eb;
    --font-color5: #ded0eb89;

    --primary-font: Sora;

}
.header{
    height: max-content;
}
.projects{
    margin-top: 30px;
}
.project-detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0px 19%;
     margin-top: 100px;
}
.project-detail-container h1{
    font-size: 30px;
    font-weight: 600;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    margin-bottom: 10px;
}
.project-details-cart{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    border: 1px solid var(--font-color2);
    border-radius: 30px;
    background-color: #0c0c0d1e;
}
.project-detail-img{
    width: 45%;
    height: 300px;
     display: flex;
     align-items: center;
     justify-content: center;
     overflow: hidden;
     border-radius: 30px;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
    background-image: url("assets/uiui.jpg");

}
.PD2{
    background-image: url("assets/appdesign.jpg");
}
.PD3{
    background-image: url("assets/appdevelp.jpg");
}
.PD4{
    background-image: url("assets/uiux.jpg");
}
.PD5{
    background-image: url("assets/app\ desi.jpg");
}
.PD6{
    background-image: url("assets/appdeve.jpg");
}
.PD7{
    background-image: url("assets/uuuuui.jpg");
}
.PD8{
    background-image: url("assets/app\ desss.png");
}
.PD9{
    background-image: url("assets/appdede.jpg");
}

.project-detail-img img{
    width: 100%;
    border-radius: 30px;
    
}
.pro-detail-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;

}



.project-cart-title h2{
  font-size: 18px;
  font-weight: 400;
  width: 60%;
  line-height: 25px;
  color: var(--font-color);
}
.pro-detail-info p{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

}
.figma-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}
.figma{
    width: 25px;
    height: 25px;
    background: #282828;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;

}
.figma img{
    width: 70%;
}
.xd{
    background-color: transparent;
    width: 35;
}
.xd img{
    width: 100%;
}
.project-detail-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
    padding: 0px 20px;
}
.project-detail-buttons a{
    font-size: 14px;
    color: var(--font-color2);
    border: 1px solid var(--font-color2);
    border-radius: 50px;
    padding: 10px 20px;
}
.project-detail-buttons a:last-child{
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    color: var(--background-color);
    border: 1px solid #0c0c0d;
    font-weight: 500;
}
.project-detail-buttons a:last-child:hover{
    border: 1px solid var(--font-color);
    padding: 10px 50px;
}
.project-detail-buttons a:first-child:hover{
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    color: var(--background-color);
    border: 1px solid var(--font-color);
    font-weight: 500;
    padding: 10px 50px;

}
.p-cart-rate-project{
    margin-top: -15px;
}
.date-p-details{
    margin-top: -5px;
    margin-bottom: -5px;
}
.pro-detail-cart-titles{
  margin-top: -5px;
}
.projects-switch, .projects-title{
    z-index: 999;
}
#pdetails-contact{
    position: relative;
    z-index: 999;
    
}

@media screen and (max-width: 576px) {
    .header {
        width: 100%;
        margin-top: 0px;
        position: relative;
        background-image: url(assets/bg-header-01.png), linear-gradient(to bottom, #00000057, #00000060, #0c0c0d);
        background-size: 200%;
        background-position-x: 60%;
        background-position-y: 0px;
        background-repeat: no-repeat;
        z-index: 999;
        background-blend-mode: overlay;
    }

    #navbar {
        gap: 0%;
    }
    .navbar {
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0px;
        padding-bottom: 5px;
        gap: 0%;
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(5px);
        z-index: 999;
    }

   .projects-switch a {
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: 400;
    padding: 0 15px;
}
.projects-switch {
    background-color: var(--black-2);
    height: 35px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    margin-top: 10px;
}
.projects-container {
    display: flex;
   flex-direction: column;
    row-gap: 20px;
    height: max-content;
}
.footer-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    gap: 0px;
    position: relative;


}
#main{
    padding: 0 5%;
    overflow: hidden;
    position: relative;
    z-index: 20;
}
.header {
    height: max-content;
}
.mainProject {
    margin-top: 50px;
}
.projects {
    margin-top: 50px;
    position: relative;
    z-index: 909;
    width: 100%;
    overflow: hidden;
   
 
}
.project-cart {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 5%;
    padding-bottom: 20px;
    border-bottom: 1px solid #343434ba;
    
}
.footer {
    z-index: 9;
}

.project-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0px 5%;
    margin-top: 60px;
}
.project-detail-container h1 {
    font-size: 20px;
    font-weight: 600;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    margin-bottom: 10px;
    
}
.project-cart-title h2 {
    font-size: 12px;
    font-weight: 400;
    width: 85%;
    line-height: 15px;
    color: var(--font-color);
  
}
.pro-detail-info p {
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
}
.p-cart-rate {
    font-size: 8px;
    font-weight: 500;
}
.p-cart-name {
    font-size: 7px;
    color: var(--font-color2);
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
}

.project-details-cart {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    border: 1px solid var(--font-color2);
    border-radius: 30px;
    background-color: #0c0c0d1e;
    margin-top: -20px;
}

.project-detail-img {
    width: 100%;
    height: 250px;
}
.pro-detail-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
.p-cart-rate i {
    color: rgb(255, 174, 0);
    font-size: 8px;
    padding-right: 5px;
}
.project-detail-buttons a {
    font-size: 10px;
    color: var(--font-color2);
    border: 1px solid var(--font-color2);
    border-radius: 50px;
    padding: 10px 20px;
}
.projects-switch {
    background-color: var(--black-2);
    height: 35px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    margin-top: 10px;
}

.projects-switch a {
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: 400;
    padding: 0 10px;
}
.projects-contact-container {
    padding: 0px 5%;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
   
    gap: 0%;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    z-index: 999;
    
}

#menu-bar{
    display: flex;
    align-items: center;

   
}
.menu-icon {
    font-size: 20px;
    color: var(--font-color2);
    margin-top: 0px;
}
.projects-contact-container {
    padding: 0%;
}
.background-glow-P{
    display: none;
}
}



