@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root{
    --background-color: #0c0c0d;
    --black-2:#141415;
    --primary-color:#9914c1;
    --primary-color2:#5825c1;
    --font-color: #f5f5ff;
    --font-color2: #e58fff;
    --font-color3: #847dd3;
    --font-color4: #ded0eb;
    --font-color5: #ded0eb89;

    --primary-font: Sora;

}

.header{
  height: 500px;
   

}
  #header{
    z-index: 50;
    position: relative;
  }
  .background-glow-P{
    width: 60%;
    height: 120%;
    position: absolute;
    top: 0%;
    z-index: 100;
    background-color: #9914c141;
    border-radius: 50%;
    filter: blur(200px);
    margin: 0 auto;
}

.projects{
    margin-top: 50px;
    position: relative;
    z-index: 909;
   
    
}
.mainProject{
    margin-top: 1580px;
    padding: 0 18%;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
}
.project-four{
    background: url("assets/uiux.jpg");
    background-position-x: 40%;
    background-size: cover;
}
.project-five{
    background: url("assets/app\ desi.jpg");
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: cover;
}
.project-six{
    background: url("assets/appdeve.jpg");
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: cover;
}
.project-seven{
    background: url("assets/uuuuui.jpg");
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: cover;
}
.project-eight{
    background: url("assets/app\ desss.png");
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: cover;
}
.project-nine{
    background: url("assets/appdede.jpg");
    background-position-x: 40%;
    background-position-y: 40%;
    background-size: cover;
}
.projects-contact-container{
    padding: 0px 18%;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    padding-bottom: 0;
    gap: 4%;
    background: rgba(255, 0, 0, 0);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.projects-container{
    position: relative;
    z-index: 110;
}

.footer{
    z-index: 999;
}
.projects-switch, .projects-title{
    z-index: 999;
}
.projects-switch a {
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
    padding: 0 20px;
}
.projects-switch a:hover{
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    color: var(--background-color);
    font-weight: 500;
  
}
@media screen and (max-width: 576px) {
    .header {
        width: 100%;
        margin-top: 0px;
        position: relative;
        background-image: url(assets/bg-header-01.png), linear-gradient(to bottom, #00000057, #00000060, #0c0c0d);
        background-size: 200%;
        background-position-x: 60%;
        background-position-y: 0px;
        background-repeat: no-repeat;
        z-index: 999;
        background-blend-mode: overlay;
    }

    #navbar {
        gap: 0%;
    }
    .navbar {
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0px;
        padding-bottom: 5px;
        gap: 0%;
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(5px);
        z-index: 999;
    }

   .projects-switch a {
    height: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
    font-weight: 400;
    padding: 0 15px;
}
.projects-switch {
    background-color: var(--black-2);
    height: 35px;
    width: 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    margin-top: 10px;
}
.projects-container {
    display: flex;
   flex-direction: column;
    row-gap: 20px;
    height: max-content;
}
.footer-sec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    gap: 0px;
    position: relative;


}
#main{
    padding: 0 5%;
    overflow: hidden;
    position: relative;
    z-index: 20;
}
.header {
    height: max-content;
}
.mainProject {
    margin-top: 50px;
}
.projects {
    margin-top: 50px;
    position: relative;
    z-index: 909;
    width: 100%;
    overflow: hidden;
   
}
.footer {
    z-index: 9;
}


}











