@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root{
    --background-color: #0c0c0d;
    --black-2:#141415;
    --primary-color:#9914c1;
    --primary-color2:#5825c1;
    --font-color: #f5f5ff;
    --font-color2: #e58fff;
    --font-color3: #847dd3;
    --font-color4: #ded0eb;
    --font-color5: #ded0eb89;

    --primary-font: Sora;

}
.video1{
    width: 100%;
    height: 550px;
    filter: hue-rotate(90deg);
    mix-blend-mode:color-dodge;
    position: absolute;
    top: 0;

}
.video1::-webkit-media-controls {
    display: none;
  }

.backdrop-filter{
    width: 60%;
    height: 150%;
    position: absolute;
    top: 100%;
    z-index: 0;
    background-color: #9914c132;
    border-radius: 50%;
    filter: blur(200px);
    margin: 0 auto;
}
#contact{
    z-index: 999;
    position: relative;
}
.contact-title-display{
    width: 100%;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
   
    

}
#header{
    position: relative;
    z-index: 100;
   
}
.contact-title-display h1{
    font-size: 50px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 600;
    margin-top: 15px;
    
}
#user-img-con{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
   
}
.contact-foot-user{
    display: flex;
  
    align-items: start;
    justify-content: start;
    gap: 30px;
}
.contact-user-names{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    margin-top: -10px;
}
.contact-user-names h1{
    font-size: 30px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: var(--font-color);
    background-clip: text;
    font-weight: 600;
    margin-top: 15px;
    
}
.contact-user-names p{
    font-size: 18px;
    font-weight: 500;
    margin-top: -5px;
    padding-bottom: 10px;
    color: var(--font-color4);
}
.user-img-frame{
    width: 160px;
    height: 170px;
}
.user-frame-img{
   margin-top: -85px;
   transform: rotate3d(46deg);
   margin-left: -15px;
}
.conatct-ul-C{
    gap: 20px;
    margin-top: 0px;
}

@media screen and (max-width: 576px){
    .contact-title-display h1 {
        font-size: 30px;
        background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
        color: transparent;
        background-clip: text;
        font-weight: 600;
        margin-top: 15px;
    }
    .contact-title-display {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .video1 {
        width: 100%;
        height: 280px;
        filter: hue-rotate(90deg);
        mix-blend-mode: color-dodge;
        position: absolute;
        top: 0;
    }
    .contact-foot-user {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 30px;
     
    }
    .contact-user-names {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin-top:20px;
        position: relative;
        z-index: 0;
    }
    .contact-ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 0px;
    }
    #contact {
        z-index: 99;
        position: relative;
    }
    .contact-user-names h1 {
        font-size: 20px;
        background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
        color: var(--font-color);
        background-clip: text;
        font-weight: 600;
        margin-top: 15px;
    }
    .contact-user-names p {
        font-size: 12px;
        font-weight: 500;
        margin-top: -5px;
        padding-bottom: 10px;
        color: var(--font-color4);
    }
    .contact-ul li a {
        font-size: 10px;
        color: var(--font-color4);
        font-weight: 400;
    }
    .backdrop-filter {
        width: 60%;
        height: 150%;
        position: absolute;
        top: 100%;
        z-index: 0;
        background-color: #9914c132;
        border-radius: 50%;
        filter: blur(200px);
        margin: 0 auto;
        display: none;
    }
  
    .contact-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    #contact-user-img{
        transform: scale(1.5);
        margin: 0 auto;
        margin-top: 30px;

    }




















}