@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root{
    --background-color: #0c0c0d;
    --black-2:#141415;
    --primary-color:#9914c1;
    --primary-color2:#5825c1;
    --font-color: #f5f5ff;
    --font-color2: #e58fff;
    --font-color3: #847dd3;
    --font-color4: #ded0eb;
    --font-color5: #ded0eb89;

    --primary-font: Sora;

}
.header{
    z-index: 1;
}
.background-glow{
    width: 60%;
    height: 380%;
    position: absolute;
    top: 50%;
    z-index: 50;
    background-color: #9914c141;
    border-radius: 50%;
    filter: blur(200px);
    margin: 0 auto;
}
.banner-left{
    width: 70%;
    margin-top: 15px;
}
.banner-left ul li{
    font-size: 13px;
    color: var(--font-color4);
    list-style-type: disc;
    line-height: 20px;
}
.banner-left ul{
    line-height: 20px;
    margin-left: 20px;
}
#oko{
    width: 75%;
    line-height: 22px;
}

.banner{
     position: relative;
     z-index: 99;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 0px;
}
.banner-rightA{
    width: 30%;
    margin-top: 15px;
    
}
.user-img-frame{
    width: 350px;
    height: 400px;
    display: flex;
    align-items: end;
    justify-content: end;
}
.user-frame-img{
    width: 125%;
    margin-top: -180px;
    margin-left: -30px;
    filter:contrast(1) brightness(1);
    

    
}

.image-bg{
     background: var(--font-color5);
    width: 95%;
    height: 47%;
    border-top-left-radius: 100px;
}


.mainA{
    padding: 0 18%;
}
.Professional-In h1{
    font-size: 30px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 600;
    margin-top: 15px;
}
.Professional-In p{
    font-size: 13px;
    color: var(--font-color4);
    line-height: 20px;
    width: 88%;
    margin-top: 25px;
    position: relative;
    z-index: 100;
}
.skill-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}
.skills-cart{
    background-color: transparent;
    padding: 20px 0px;

}
.skills-cart h3{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -5px;
}
.carts{
    width: max-content
}
.progress-con {
    width: 390px;
    height: 8px;
    border-radius: 100px;
    overflow: hidden;
    background-color: var(--font-color);
}
.company{
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    gap: 80px;
}
.all-companies{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.company-info{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.company-names{
  
    width: 70%;
}
.company-names h2{
    
    font-size: 18px;
    font-weight: 500;
}

.company-logo img{
    width: 25%;
    margin-top: 5px;
}
.company-joining-date{
    color: var(--font-color2);
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var(--font-color2);
    padding: 9px 0px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
 
}
.company-joining-date:hover{
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    color: var(--background-color);
    border: 1px solid var(--font-color);
    cursor: not-allowed;
}
.current{
    background-color: var(--font-color2);
    color: var(--background-color);
}

#adobe-logo{
    width: 20%;
    margin-top: 20px;
}
#netflix-logo{
    width: 20%;
    margin-top: 20px;
}
#download-cv{
    width: max-content;
}



.skills-icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px;
    border-radius: 10px;
    background: linear-gradient(to right bottom, var(--primary-color), var(--black-2));
    margin-top: 80px;
    position: relative;
    z-index: 100;
}
.about-skill-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--font-color5);
    border: 1px solid var(--font-color2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-skill-icon img{
    width: 50%;
}
.html-anim{
    animation: html-anim 2s ease-in-out infinite;
}

.html-anim{
    animation: html-anim 1s linear infinite;
}
@keyframes html-anim {
    0%{
       box-shadow: none;
       transform: scale(.9);
    }
    50%{
       box-shadow: 0px 0px 40px 1px var(--font-color2);
       transform: scale(1);

    }
    100%{
       box-shadow: none;
       transform: scale(.9);

    }
}
.css-anim{
    animation: css-anim 1s linear infinite .1s;
}
@keyframes css-anim {
    0%{
       box-shadow: none;
       transform: scale(.9);

    }
    50%{
       box-shadow: 0px 0px 40px 1px var(--font-color2);
       transform: scale(1);


    }
    100%{
       box-shadow: none;
       transform: scale(.9);


    }
}
.js-anim{
    animation: js-anim 1s linear infinite .2s;
}
@keyframes js-anim {
    0%{
       box-shadow: none;
       transform: scale(.9);

    }
    50%{
       box-shadow: 0px 0px 40px 1px var(--font-color2);
       transform: scale(1);


    }
    100%{
       box-shadow: none;
       transform: scale(.9);


    }
}
.mongo-anim{
    animation: mongo-anim 1s linear infinite .3s;
}
@keyframes mongo-anim {
    0%{
       box-shadow: none;
       transform: scale(.9);

    }
    50%{
       box-shadow: 0px 0px 40px 1px var(--font-color2);
       transform: scale(1);


    }
    100%{
       box-shadow: none;
       transform: scale(.9);


    }
}
.tail-anim{
    animation: tail-anim 1s linear infinite .4s;
}
@keyframes tail-anim {
    0%{
       box-shadow: none;
       transform: scale(.9);

    }
    50%{
       box-shadow: 0px 0px 40px 1px var(--font-color2);
       transform: scale(1);


    }
    100%{
       box-shadow: none;
       transform: scale(.9);


    }
}
.sql-anim{
    animation: sql-anim 1s linear infinite .5s;
}
@keyframes sql-anim {
    0%{
       box-shadow: none;
       transform: scale(.9);

    }
    50%{
       box-shadow: 0px 0px 40px 1px var(--font-color2);
       transform: scale(1);


    }
    100%{
       box-shadow: none;
       transform: scale(.9);


    }
}
.about-testi{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 100;
}
.about-testi h1{
    width: 100%;
    text-align: left;
}
.about-testi ul{
    margin-top: 20px;
}

.footer{
    position: relative;
    z-index: 100;
}
.career-goal{
    position: relative;
    z-index: 100;
    margin-top: 100px;
}
.career-title{
    font-size: 30px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 600;
    margin-top: 15px;
}
.career-goals-container h2{
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 5px;
}
.career-goals-container ul{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}
.career-goals-container li{
    font-size: 13px;
    color: var(--font-color4);
}
.career-goals-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    column-gap:15%;
    row-gap: 30px;
    margin-top: 30px;
}
.hobby h1{
    font-size: 30px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 600;
}
.hobby{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 30px;
}
.hobbies{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.hobby-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.hobby-cart a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #c023f010;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ded0eb48;
}

.hobby-cart h3{
    font-size: 13px;
    color: var(--font-color4);
    font-weight: 500;
}
.hobby-cart a i{
    font-size: 20px;
    color: var(--primary-color);
}
.personal-showcase{
    border: 1px solid var(--font-color2);
    border-radius: 30px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    z-index: 100;
}
.personal-showcase h1{
    font-size: 30px;
    color: var(--font-color2);
    background-clip: text;
    font-weight: 500;
}
.personal-showcase p{
    font-size: 13px;
    font-weight: 400;
    color: var(--font-color4);
    text-align: center;
    width: 70%;
    line-height: 20px;
}
.shocase-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.shocase-btn a{
    color: var(--font-color2);
    border: 1px solid var(--font-color2);
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 13px;
}
.shocase-btn a:hover{
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    color: var(--background-color);
    border: 1px solid var(--font-color);
    font-weight: 500;
}
.contact-cart{
    background: var(--black-2);
    padding: 50px 40px;
    border-radius: 25px;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0px;
}
.contact-cart::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius:25px; 
    padding: 1px; 
    z-index: 2;
    background:linear-gradient(45deg,var(--font-color2),var(--primary-color)); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }

.contact-title h1{
    font-size: 28px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 500;
}
.contact-title p{
    font-size: 13px;
    font-weight: 400;
    margin-top: 15px;
    color: var(--font-color4);
}
.contact-me-btn{
    border-radius: 50px;
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    color: var(--background-color);
    position: relative;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 999;
}
.contact-me-btn:hover{
    padding: 10px 50px;
   
}
.right-icon{
    color: var(--background-color);
    font-weight: 600;
    font-size: 17px;
}
.about-banner-list{
    animation: list-anim .6s ease-in-out;
}
@keyframes list-anim {
    0%{
        transform: translateX(-900px);
    }
    100%{
        transform: translateX(0px);
    }
}
.about-test-seemore{
    margin-top: -10px;
}


/* mobile devices */

@media screen and (max-width: 576px){
 
    .header {
        width: 100%;
        margin-top: 0px;
        position: relative;
        background-image: url(assets/bg-header-01.png), linear-gradient(to bottom, #00000057, #00000060, #0c0c0d);
        background-size: cover;
        background-position-x: 60%;
        background-repeat: no-repeat;
        z-index: 999;
        background-blend-mode: overlay;
    }
    .banner {
        position: relative;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
    }
    .banner-left {
        width: 100%;
        margin-top: 15px;
        position: relative;
        order: 1;
    }
    .banner-left ul li {
        font-size: 11px;
        color: var(--font-color4);
        list-style-type: disc;
        line-height: 17px;
    }
    #oko {
        width: 100%;
        line-height: 15px;
    }
    .banner-rightA {
        width: 100%;
        margin-top: 15px;
        order: 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
     
    }
    .mainA {
        padding: 0 5%;
    }
    .skill-container {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 100;
        gap: 30px;
        overflow: hidden;
    }
    .carts {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
    }
    .progress-con {
        width: 100%;
        height: 8px;
        border-radius: 100px;
        overflow: hidden;
        background-color: var(--font-color);
    }
    .skills-cart h3 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: -5px;
    }
    .company {
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
    .all-companies {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
    }
    .company-info {
        width: 100%;
        display: flex;
        align-items: start;
        justify-content: space-around;
    }
    .company-names {
        width: 60%;
    }
    .company-names h2 {
        font-size: 15px;
        font-weight: 500;
    }
    .company-joining-date {
        color: var(--font-color2);
        font-size: 11px;
        font-weight: 500;
        border: 1px solid var(--font-color2);
        padding: 7px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }
    .current {
        background-color: var(--font-color2);
        color: var(--background-color);
    }



.skills-cart {
    background: #020103de;
    background-image: url(assets/cart-color.png);
    background-size: cover;
    background-blend-mode: saturation;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
    border-radius: 5px;
}
.skills-cart {
    width: 100%;
    background: linear-gradient(to right bottom, var(--black-2), var(--primary-color2));
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    border-radius: 50px;
}

.background-glow {
    width: 60%;
    height: 380%;
    position: absolute;
    top: 50%;
    z-index: 0;
    background-color: #9914c141;
    border-radius: 50%;
    filter: blur(200px);
    margin: 0 auto;
}
.Professional-In h1 {
    font-size: 20px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 600;
    margin-top: 15px;
}
.Professional-In p {
    font-size: 10px;
    color: var(--font-color4);
    line-height: 15px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    z-index: 100;
}
#SkillCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: justify;
    gap: 0px;
}
.mobile-skills-section{

    width: 100%;
    overflow: hidden;
}
.skills-icons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    border-radius: 50px;
    background: linear-gradient(to right bottom, var(--primary-color), var(--black-2));
    margin-top: 20px;
    position: relative;
    z-index: 100;
    row-gap: 20px;
   
 
   
}

.about-skill-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--font-color5);
    border: 1px solid var(--font-color2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.about-testi {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 100;
}
.about-testi h1 {
    width: 100%;
    text-align: center;
}
.about-test-seemore {
    margin-top: -10px;
    padding: 10px 20px;
}
.career-goal {
    position: relative;
    z-index: 100;
    margin-top: 30px;
}
.career-title {
    font-size: 20px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 600;
    margin-top: 15px;
   
}
.career-goals-container h2 {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 5px;
}
.career-goals-container li {
    font-size: 9px;
    width: 100%;
    color: var(--font-color4);

}
.career-goals-container {
    display: grid;
    width: 100%;
    justify-content: start;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 15px;
    margin-top: 20px;
}
.hobby {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}
.hobby h1 {
    font-size: 20px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 600;
}
.hobbies {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hobby-cart h3 {
    font-size: 11px;
    color: var(--font-color4);
    font-weight: 500;
}
.hobby-cart a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c023f010;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ded0eb48;
}
.hobby-cart a i {
    font-size: 15px;
    color: var(--primary-color);
}
.personal-showcase {
    border: 1px solid var(--font-color2);
    border-radius: 30px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 100;
    margin-top: 20px;
}

.personal-showcase h1 {
    font-size: 20px;
    color: var(--font-color2);
    background-clip: text;
    font-weight: 500;
}
.personal-showcase p {
    font-size: 10px;
    font-weight: 400;
    color: var(--font-color4);
    text-align: center;
    width: 100%;
    line-height: 15px;
}
.shocase-btn a {
    color: var(--font-color2);
    border: 1px solid var(--font-color2);
    border-radius: 50px;
    padding: 7px 20px;
    font-size: 9px;
}

.contact-cart {
    background: var(--black-2);
    padding: 30px 30px;
    border-radius: 25px;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 30px 0px;
    text-align: center;
    gap: 20px;

}
.contact-title h1 {
    font-size: 20px;
    background-image: linear-gradient(to right bottom, var(--font-color2), var(--font-color));
    color: transparent;
    background-clip: text;
    font-weight: 500;
}
.contact-title p {
    font-size: 10px;
    font-weight: 400;
    width: 60%;
    text-align: center;
    
    margin: 0 auto;
    margin-top: 10px;

    color: var(--font-color4);
}
.contact-me-btn {
    border-radius: 50px;
    background: linear-gradient(to right bottom, var(--font-color), var(--primary-color2));
    color: var(--background-color);
    position: relative;
    font-weight: 500;
    padding: 8px 20px;
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 999;
}
.right-icon {
    color: var(--background-color);
    font-weight: 600;
   font-size: 12px;
   margin-top: 2px;
}

.contact-cart::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px;
    padding: 1px;
    z-index: 2;
    background: linear-gradient(45deg, var(--font-color2), var(--primary-color2));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

}

.mobile-contact-section{
    width: 100%;
    overflow: hidden;
}
.mobile-testi-section{
    width: 100%;
    overflow: hidden;

}
.mobile-career-goal{
    width: 100%;
    overflow: hidden;

}












}